<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.haohaoli.cn.mapper.EmployeeMapper">

    <select id="selectById" resultType="cn.haohaoli.cn.entity.Employee">
        select * from employee where id = #{id}
    </select>
</mapper>